html,
body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
html {
    height: 100%;
}
body {
    position: relative;
}

footer {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
footer span {
    font: italic 12px/40px Verdana;
    line-height: 40px;
}

#wrap {
    display: flex;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 1600px;
}
.filter {
    width: 260px;
    position: fixed;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 10px;
    user-select: none;
    overflow: auto;
}

.friendlist {
    margin-left: 260px;
    padding: 80px 40px 40px;
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    margin-bottom: 10px;
}

fieldset {
    border: 0;
    margin: 0;
    font-size: 0;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: lightcoral;
    color: white;
}
fieldset label {
    font-size: 15px;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-family: Arial;
}
fieldset > div {
    position: relative;
    width: 100%;
}
fieldset label:hover,
fieldset input:checked + label,
fieldset label:hover::before {
    background-color: #b36161;
}
fieldset input {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 18px;
    float: left;
    margin-right: 4px;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
}
.filter-title {
    padding-bottom: 10px;
    text-align: left;
    font-family: Verdana;
    font-size: 12px;
    border-radius: 30px;
    margin-top: 20px;
}
fieldset label[for="desc"]::before,
fieldset label[for="asc"]::before {
    visibility: visible;
    position: relative;
    top: -1px;
    left: -4px;
}
fieldset label[for="asc"]::before {
    content: '\2191';
}
fieldset label[for="desc"]::before {
    content: '\2193';
}

.logo {
    height: 80px;
    font-size: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    padding-bottom: 20px;
}
.logo span {
    margin: 0;
    display: inline-block;
    font-size: 26px;
}
.logo span.logo-app {
    padding: 4px 12px 7px 0;
    color: yellow;
}
.logo .logo-cube {
    width: 40px;
    height: 40px;
    background-color: darkgray;
    transform: rotate(20deg);
    position: absolute;
    top: 23px;
    right: 80px;
    z-index: -1;
}

.filter-top {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}
.filter-top > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.filter-top > ul li {
    margin: 0;
}
.filter-top > ul li:first-child {
    font-size: 20px;
    font-weight: 700;
}
.filter-top button.reset-filter {
    border: 0;
    background: none;
    padding: 6px 0;
    cursor: pointer;
    outline: none;
}
.filter-top button.reset-filter:hover {
    color: lightcoral;
}

.filter-search {
    margin-bottom: 10px;
    position: relative;
}
.filter-search input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    vertical-align: middle;
}
.search-clear {
    position: absolute;
    width: 38px;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 28px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    display: none;
}
.search-clear::before {
    content: '\00D7';
}
.search-clear.visible {
    display: block;
}

.friendlist > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
}
.friendlist ul.friends-not-found {
    height: 100px;
    align-items: center;
    text-align: center;
}
.friendlist ul.friends-not-found.hidden {
    display: none;
}
.friendlist > ul > li {
    width: 244px;
    height: 330px;
    text-align: center;
    margin-bottom: 0;
}
.friendcard {
    position: relative;
    height: 100%;
    border: 1px solid lightcoral;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: default;
}
.friendcard > ul {
    list-style: none;
}
.friendcard > ul > li {
    margin: 0;
}
.friendcard img {
    border-radius: 70px;
    margin-top: 20px;
}
.friendcard-title {
    color: lightgray;
    padding-top: 6px;
}
.friendcard-name {
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
}
.friendcard-from {
    color: #2c2c2c;
    font-size: 14px;
    font-style: italic;
    padding-top: 4px;
}
.friendcard-birth {
    font-style: italic;
    color: lightgray;
    padding-top: 10px;
}
.friendcard-id {
    position: absolute;
    right: 17px;
    bottom: 12px;
    font: 700 16px Arial;
    color: lightgray
}
.friendcard-gender-female,
.friendcard-gender-male {
    background: url('./images/gender.png') no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    position: absolute;
    top: 9px;
    left: 13px;
    width: 17px;
    height: 28px;
}
.friendcard-gender-male {
    background-position: -17px 0px;
    width: 21px;
}

.info {
    position: absolute;
    color: lightgray;
    top: 8px;
    font-size: 12px;
    font-family: Consolas;
}
.pagination {
    margin-bottom: 16px;
}
.pagination ul {
    font-size: 0;
}
.pagination li {
    color: white;
    display: inline-block;
    border-radius: 40px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-right: 8px;
    border: 1px solid lightcoral;
    color: lightcoral;
    user-select: none;
}
.pagination li.active,
.pagination li:hover {
    background-color: lightcoral;
    color: white;
}

.filter-country {
    width: 100%;
    border-radius: 10px;
    padding: 8px 14px;
    background-color: lightcoral;
    border: 0;
    color: #fff;
    outline: none;
    font: normal 14px Arial;
}
.filter-country > option {
    background-color: white;
    color: #000;
}
